
<input type="text" [(ngModel)]="minPrice">
<input type="text" [(ngModel)]="maxPrice">
<button (click)="applyFilter(minPrice, maxPrice)">apply</button>
<button (click)="resetFilter()">reset</button>

<div class="food" *ngIf="selectedFood">
    <p>Selected Food</p>
    <p>{{selectedFood.name}}</p>
    <p>{{selectedFood.price}}</p>
    <p>{{selectedFood.quantity}}</p>
</div>

<app-food-list [foods] = foods (select)="selectFood($event)"></app-food-list>

//apply a filter of price and quantity to filter the cart items