<div class="col-md-6 user-container" style="margin: 20px;">
    <h2 style="margin: auto"> Address Details</h2>
    <button class="btn btn-success" (click)="addUser()"> Add Address</button> &nbsp;
    <button class="btn btn-success"> Delete</button>
    <button class="btn btn-success" style="margin-left: 20px;"> Edit</button>
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>FullName</th>
        <th>Email</th>
        <th>Address Line1</th>
        <th>Address Line2</th>
        <th>City</th>
        <th>PIN Code</th>
        <th>Country</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td class="hidden"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
            <!-- <button class="btn btn-success" (click)="deleteUser(user)"> Delete</button>
          <button class="btn btn-success" (click)="editUser(user)" style="margin-left: 20px;"> Edit</button></td> -->
        
        </tr>
      </tbody>
    </table>
  </div>
  