
<div class="container text-center">
    <div class="row">
      <div class="col" *ngFor="let product of products">
        <div class="card" style="width: 18rem;">
            <img [src]="product.images[0]" class="card-img-top" [alt]="product.title">
            <div class="card-body">
              <h5 class="card-title">{{product.title}}</h5>
              <p class="card-text">{{product.description}}</p>
              <a [routerLink]="'/product/' + product.id" class="btn btn-primary">Go</a>
            </div>
        </div>
      </div>
    </div>
</div>


<h1>Contact Us</h1>